Repository ziyanwould/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store, Services, Server, Libs, Utils

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libs"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

🔨 chore: add missing dev dependencies for Docker build
  package.json
Due: none

✨ feat: add SiliconCloud image generation support
  .env.example
  AGENTS.md
  CLAUDE.md
  packages/model-bank/src/aiModels/siliconcloud.ts
  packages/model-runtime/src/providers/siliconcloud/createImage.ts
  packages/model-runtime/src/providers/siliconcloud/index.ts
  src/store/aiInfra/slices/aiProvider/selectors.ts
  src/store/image/slices/generationConfig/initialState.ts
  src/store/image/slices/generationConfig/selectors.test.ts
Due: Store

:sparkles: feat(image): propagate x-user-id/x-user-ip for image-gen and update docs
  .env.example
  AGENTS.md
  CLAUDE.md
  docs/development/analytics-tracking-guide.zh-CN.md
  packages/model-runtime/src/core/BaseAI.ts
  packages/model-runtime/src/core/ModelRuntime.test.ts
  packages/model-runtime/src/core/ModelRuntime.ts
  packages/model-runtime/src/core/RouterRuntime/createRuntime.test.ts
  packages/model-runtime/src/core/RouterRuntime/createRuntime.ts
  packages/model-runtime/src/core/openaiCompatibleFactory/createImage.ts
  packages/model-runtime/src/core/openaiCompatibleFactory/index.ts
  packages/model-runtime/src/providers/azureOpenai/index.ts
  packages/model-runtime/src/providers/bfl/createImage.ts
  packages/model-runtime/src/providers/bfl/index.ts
  packages/model-runtime/src/providers/minimax/createImage.ts
  packages/model-runtime/src/providers/qwen/createImage.ts
  packages/model-runtime/src/providers/siliconcloud/createImage.ts
  packages/model-runtime/src/providers/volcengine/createImage.ts
  src/app/(backend)/webapi/text-to-image/[provider]/route.ts
  src/libs/trpc/async/context.ts
  src/libs/trpc/lambda/context.ts
  src/server/routers/async/caller.ts
  src/server/routers/async/image.ts
  src/server/routers/lambda/image.ts
Due: Server, Libs

🔧 fix: 添加缺失的 TypeScript 类型声明文件并修复类型错误
  packages/model-runtime/src/providers/huggingface/index.ts
  packages/model-runtime/src/types/aws-sdk.d.ts
  packages/obervability-otel/src/ambient.d.ts
  packages/utils/src/types/dompurify.d.ts
  packages/utils/tests/vitest-canvas-mock.d.ts
Due: none

feat: 确保 x-user-ip 透传并修复自定义依赖类型
  CLAUDE.md
  CLAUDE_TECH_ANALYSIS.md
  packages/utils/src/types/dompurify.d.ts
  src/app/(backend)/webapi/proxy/route.ts
  src/app/[variants]/(main)/chat/(workspace)/@conversation/features/ChatHydration/index.tsx
  src/app/[variants]/(main)/chat/(workspace)/@conversation/features/ThreadHydration.tsx
  src/components/BrowserIcon/index.tsx
  src/features/AgentSetting/StoreUpdater.tsx
  src/features/AgentSetting/store/index.ts
  src/features/ChatInput/StoreUpdater.tsx
  src/hooks/useShare.tsx
  src/layout/AuthProvider/Clerk/UserUpdater.tsx
  src/layout/AuthProvider/NextAuth/UserUpdater.tsx
  src/libs/requestFilteringAgent.ts
  src/libs/trpc/async/asyncAuth.ts
  src/server/routers/async/caller.ts
  src/server/routers/async/file.ts
  src/server/routers/async/image.ts
  src/server/routers/async/ragEval.ts
  src/server/routers/lambda/chunk.ts
  src/server/routers/lambda/ragEval.ts
  src/server/services/chunk/index.ts
  src/types/request-filtering-agent.d.ts
Due: Server, Libs

feat: 增强 IP 透传与私有化分析集成
  package.json
  packages/model-runtime/src/core/BaseAI.ts
  packages/model-runtime/src/core/ModelRuntime.ts
  packages/model-runtime/src/core/openaiCompatibleFactory/createImage.ts
  packages/model-runtime/src/core/openaiCompatibleFactory/index.ts
  packages/model-runtime/src/providers/azureOpenai/index.ts
  packages/model-runtime/src/providers/bfl/createImage.ts
  packages/model-runtime/src/providers/bfl/index.ts
  packages/model-runtime/src/providers/google/createImage.ts
  packages/model-runtime/src/providers/google/index.ts
  packages/model-runtime/src/providers/minimax/createImage.ts
  packages/model-runtime/src/providers/qwen/createImage.ts
  packages/model-runtime/src/providers/siliconcloud/createImage.ts
  packages/model-runtime/src/providers/volcengine/createImage.ts
  packages/model-runtime/src/types/chat.ts
  src/app/(backend)/webapi/chat/[provider]/route.ts
  src/app/(backend)/webapi/proxy/route.ts
  src/app/(backend)/webapi/text-to-image/[provider]/route.ts
  src/components/Analytics/Matomo.tsx
  src/components/Analytics/PlausibleOutbound.tsx
  src/components/Analytics/index.tsx
  src/envs/analytics.ts
  src/libs/requestFilteringAgent.ts
  src/libs/trpc/async/asyncAuth.ts
  src/libs/trpc/async/context.ts
  src/libs/trpc/lambda/context.ts
  src/server/routers/async/caller.ts
  src/server/routers/async/file.ts
  src/server/routers/async/image.ts
  src/server/routers/async/ragEval.ts
  src/server/routers/lambda/chunk.ts
  src/server/routers/lambda/image.ts
  src/server/routers/lambda/ragEval.ts
  src/server/services/chunk/index.ts
  src/store/image/slices/generationConfig/initialState.ts
  src/types/request-filtering-agent.d.ts
Due: Store, Server, Libs

fix docker image
  src/tools/dalle/Render/index.tsx
Due: none
